altgraph==0.17
appdirs==1.4.4
astroid==2.4.2
attrs==19.3.0
click==7.1.2
distlib==0.3.1
filelock==3.0.12
future==0.18.3
isort==4.3.21
Jinja2==2.11.3
joblib==0.16.0
lazy-object-proxy==1.4.3
livereload==2.6.2
lunr==0.5.8
macholib==1.14
Markdown==3.2.2
MarkupSafe==1.1.1
mccabe==0.6.1
mkdocs==1.1.2
mkdocs-material==5.4.0
mkdocs-material-extensions==1.0
more-itertools==8.4.0
nltk==3.5
packaging==20.4
pluggy==0.13.1
py==1.10.0
Pygments==2.7.4
PyInstaller==3.6
pylint==2.5.3
pymdown-extensions==7.1
pyparsing==2.4.7
pytest==5.4.3
pytest-mock==3.1.1
PyYAML==5.4
regex==2020.7.14
six==1.15.0
toml==0.10.1
tornado==6.3.2
tox==3.16.1
tqdm==4.48.0
virtualenv==20.0.25
wcwidth==0.2.5
wrapt==1.12.1
